*{
    padding: 0px;
    margin: 0px;
    }
    body{ 
    background-image: linear-gradient(to right, #e7fcf8 10%, #fdfdee 90%);
    font-family:'Noto Serif', serif;
    margin-bottom: 20px;
    
    }
    h1{ 
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: red;
    font-weight: 50px;
    font-size: 30px;
    }
    h2{ 
    text-align: center;
    color: black;
    font-weight: 70px;
    border-bottom: 2px black solid;
    margin-bottom: 7px;
    }
   
    .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    margin-top: 0.1px;
    }
    form {
    margin-top: 0.5px;
    border: 0px;
    padding: 15px;
    font-size: 15px;
    width: 26em;
    border: 3px solid #f19797;
    box-shadow: 3px 8px #daf3fd;
    }
    .form1{
    margin-right: 20px;
    margin-left: 180px;
    margin-top: 15px;
    background: #cdf7ff;
    border-radius: 3px;
    }
    .form2{
    margin-top: 20px;
    margin-right: 170px;
    margin-left: 15px;
    background: #cdf7ff;
    border-radius: 3px;
    }
   
    .boton1
    {
    background: #f19797;
    border: 1px solid #f19797;
    color: #ffff;
    width: 120px;
    height: 30px;
    margin-left: 170px;
    font-weight: 30px;
    font-size: 15px;
    border-radius: 3px;
    }
    .boton2
    {
    background: #f19797;
    border: 1px solid #f19797;
    color: #ffff;
    width: 120px;
    height: 30px;
    margin-left: 170px;
    margin-top: 15px;
    font-weight: 30px;
    font-size: 15px;
    border-radius: 3px;
    }
   
    .ingreso1
    {
    margin-left: 170px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 30px;
    border: 2px solid #3ebbb5;
    border-radius: 5px;
    }
    .ingreso2
    {
    margin-left: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border: 2px solid #3ebbb5;
    }
    
    .footer {
    margin-top: 10px;
    padding: 1%;
    margin-left: 600px;
    color:aquamarine;
    }
    