<script>
    /*Cree un array llamado meses, este array deberá almacenar el nombre de los doce meses del año. 
     Muestre por pantalla el nombre de cada uno de ellos utilizando un bucle for.*/

    meses = ["Enero", "</br>Febrero", "</br>Marzo", "</br>Abril", "</br>Mayo", "</br>Junio", "</br>Julio", "</br>Agosto", "</br>Septiembre", "</br>Octubre", "</br>Noviembre", "</br>Diciembre"];
 
    for(c=0; c<meses.length; c++){
    document.write (meses[c]);
     }
     /*Acosta Cañarte Karla Ninozka
     5to Nivel "A"*/
</script>